fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
python-dotenv
pytest
httpx
langchain-core
langchain-google-genai
langgraph
faiss-cpu
langchain-community
numpy
tiktoken
faker
xgboost
alembic
